:root {
  --main-c: #b70e21;
  --border-r: 0.2rem;
}
html * {
  margin: 0;
  padding: 0;
  font-family: "Quicksand', sans-serif";
}
body {
  background-color: #e0e9ee;
}
p {
  font-size: 1.1rem;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.wrap-cta {
  padding: 1, 5rem 0;
}
.cta-a {
  color: #fff;
  font-weight: bold;
  font-size: 2.1rem;
  background-color: var(--main-c);
  padding: 0.5rem 1rem;
  border-radius: var(--border-r);
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.2rem;
}
.header-landing {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 0.2rem;
}
.logo-header {
  max-width: 75px;
  height: 100%;
  width: 100%;
}
.hero-section {
  height: 90vh;
  background: url(img/fondo2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(106, 141, 163, 0.7);
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
}
.wrap-hero-section {
  max-width: 600px;
  color: #fff;
  padding: 15%;
}
.section {
  margin: 5rem 0;
}

.section h2 {
  padding: 2rem 0;
}
.wrap-logos-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.logo-brand {
  width: 400px;
  max-height: 300px;
  padding: 1rem 2rem;
  filter: grayscale(1);
}

.logo-brand:hover {
  cursor: pointer;
  filter: grayscale(0);
}
.wrap-title-section {
  display: flex;
  justify-content: center;
  margin: 3rem 1rem;
}

.wrap-servicios-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.item-servicios-section {
  padding: 1rem;
}

.item-servicios-section img {
  max-width: 400px;
  width: 100%;
  height: 100%;
}
.wrap-two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
}
.wrap-img_two-column {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.wrap-text-column h3 {
  padding: 2rem 0;
}
.wrap-text-column p {
  padding-bottom: 1rem;
}
.wrap_img-two-column img {
  display: flex;
  max-width: 600px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-self: center;
}
.parrafo {
  font-size: 15px;
  color: black;
  align-self: center;
  font-weight: bold;
}

section.two-column-section.form {
  background-color: #f2f2f2;
  padding: 3rem 0;
}
.form input,
.form textarea {
  display: flex;
  width: 100%;
  line-height: 1.75rem;
  border: 1.5px solid #fff;
  border-radius: var(--border-r);
}
.form textarea {
  min-height: 200px;
}
input[type="submit"] {
  border: 0;
  display: inline;
  cursor: pointer;
}
.footer-section {
  max-width: 1200px;
  margin: 0 auto;
}

.menu-footer-section {
  padding: 1rem 0;
}
.wrap-social-logos ul,
.wrap-menu-footer-section ul {
  display: flex;
  justify-content: center;
}
.social-logo {
  max-width: 75px;
  width: 100%;
  padding: 1rem;
}
.wrap-menu-footer-section ul li {
  font-size: 1.1rem;
  padding: 1.5rem;
}
.footer-creds {
  display: flex;
  justify-content: center;
}
.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}
.logo {
  text-align: center;
  font-size: 3em;
}
.logo span {
  color: #b70e21;
}

.contact-wrapper {
  box-shadow: 0 0 20 0 rgb(255, 255, 255, 0.3);
}
.contact-wrapper > * {
  padding: 1em;
}
.contact-form {
  background: #222222;
}
.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
}
.contact-form form button {
  background: #b70e21;
  border: 0;
  text-transform: uppercase;
  color: #000;
  padding: 1em;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form form .block {
  grid-column: 1 / 3;
}
.contact-form form button:hover,
.contact-form form button:focus {
  background-color: #d63031;
  color: #fff;
  cursor: pointer;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  background: rgb(105, 103, 103);
}
.contact-info img {
  bottom: 10px;
  width: 25px;
}
.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}
.contact-info ul {
  list-style: none;
  padding: 0;
}
.contact-info ul li {
  padding: 0.5em;
  color: #f2f2f2;
}
@media (min-width: 700px) {
  body {
    padding: 0 4rem;
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    padding: 1em;
    text-align: left;
  }
}

.galeria {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.galeria h2 {
  text-align: center;
  margin: 20px 0 15px 0;
  font-weight: 300;
}
.linea {
  border-top: 5px solid #bfcad1;
}
.contenedor-imagenes {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px;
}
.contenedor-imagenes .imagen {
  width: 32%;
  position: relative;
  height: 250px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
.imagen img {
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
  height: 100vh;
}

.image-half {
  flex: 1;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.text-half {
  flex: 1;
  background-color: #d63031;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p {
  color: #000000;
}

h2 {
  color: #fff;
}

.text-half h2 {
  text-align: center;
  padding-bottom: 80px;
}
.text-half p,
.parrafo {
  text-align: center;
  font-size: 25px;
}
.parrafo1 {
  color: white;
  font-size: 25px;
}
.titulo-info {
  color: #d63031;
}
.pie {
  font-size: 25px;
  font-weight: bold;
}
.container {
  display: flex;
  flex-wrap: wrap; /* Agregamos flex-wrap para que los elementos se ajusten en pantallas más pequeñas */
}

.image-half {
  flex: 1;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 300px; /* Agregamos una altura mínima para asegurarnos de que la imagen sea visible en pantallas pequeñas */
}

.text-half {
  flex: 1;
  background-color: #d63031;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  color: #fff;
}

.text-half h2 {
  text-align: center;
  padding-bottom: 20px; /* Reducimos el espacio entre el título y el párrafo en pantallas más pequeñas */
}

.text-half p {
  text-align: center;
  font-size: 20px; /* Reducimos el tamaño del texto en pantallas más pequeñas */
}
@media screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr; /* Cambiamos la dirección del contenedor para apilar los elementos verticalmente */
  }

  .text-half p {
    font-size: 16px; /* Reducimos aún más el tamaño del texto en pantallas móviles */
  }
}
.footer-section {
  background-color: #f2f2f2;
  padding: 1rem 0;
}

.wrap-footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-social-logos ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.social-logo {
  max-width: 50px;
  width: 100%;
  padding: 0.5rem;
}

.menu-footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.footer-creeds {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .wrap-footer-section {
    flex-direction: column;
  }

  .social-logo {
    max-width: 40px;
  }
}
.social-logo {
  border-radius: 50%; /* Agregamos el borde redondeado */
}
